.leaflet-container {
    width: 80em;
    height: 80vh;
}

.screen-container {
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  padding: 1%;
  margin: 1%;
  max-height: 85vh;
  overflow:-moz-hidden-unscrollable
}

.not-exeed{
  max-height: 80vh;
  overflow:auto
}